body {
  font-family: 'Mukta Malar', arial, sans-serif;
  background-color: #6d9ace;
  text-align: center;
}

.profile img {
  transition: all 1000ms ease-in-out;
  align-items: center;
  border: 3px solid black;
}

.profile img:hover {
  filter: invert(100%);
}

table.center {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.projects th {
  width: 300px;
  border: 1px solid black;
}

.projects td {
  width: 300px;
  border: 1px solid black;
}
